server:
  http_listen_port: 9080

clients:
  - url: http://loki:3100/loki/api/v1/push

positions:
  filename: /tmp/positions.yaml

scrape_configs:
  - job_name: coffee-app
    static_configs:
      - targets: [localhost]
        labels:
          app: coffee-web
          __path__: /var/log/app.log
